* {
  margin: 0;
  padding: 0;
  border: 1px;
}

h1 {
  font-size: 40px;
  padding-bottom: 10%;
  animation: change 10s linear 0s infinite;
}

@keyframes change {
				0% {
					color: #333;
				}
				25% {
					color: #ff0;
				}
				50% {
					color: #f60;
				}
				75% {
					color: #cf0;
				}
				100% {
					color: #f00;
				}
			}

.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  background: #29383f;
  border: none;
  color: white;
}

.textview {
  width: 209px;
  margin: 5px;
  font-size: 25px;
  padding: 5px;
  border: none;
  color: #29383f;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.bg {
  background: linear-gradient(to right, #f15353, #4545f3);
  height: 960px;
}
